<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <title>OVL | Profile</title>
  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Font-Awesome-Icons -->
  <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
  <!-- Custom Styles -->
  <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/patientprofile.css') }}" rel="stylesheet">
</head>

<body>
  <!-- Modal to confirm delete patient request -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close ml-auto" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete data for this patient?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ patient.patient_id }}/delete" class="btn btn-danger" role="button">DO IT!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal to append sample to session with active extractor -->
  <div class="modal fade" id="start-test-modal-append" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-append-title">Sample Assigned to a Device</h5>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          This sample has been assigned to <b><span id="modal-assigned-device"></span></b>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary" href="/devices">Continue</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal to redirect user to device creation page if no extractor available -->
  <div class="modal fade" id="no-avail-extractor-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-append-title">Unable to Assign the Sample!</h5>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          No available extractor module found. Please setup the required devices before assigning samples.
        </div>
        <div class="modal-footer">
          <button role="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a role="button" class="btn btn-secondary" href="/settings">Continue</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-light navbar-toggleable-sm no-lr-padding">
      <div id="btn-panel-left" class="col-sm-6 text-left">
        <a class="btn btn-primary" href="/" role="button">Back</a>
      </div>
      <div id="btn-panel-right" class="col-sm-6 text-right">
        <button id="delete-button" class="btn btn-danger" role="button" data-toggle="modal" data-target="#delete-modal">Delete Profile</button>
        <button id="start-test-button" class="btn btn-success" role="button" onclick="startTest(loadSession(), sample)">Start Test</button>
      </div>
    </nav>
    <div id="primary-row" class="row">
      <div id="left-panel" class="col-sm-3">
        <div class="card card-outline-primary">
          <div id="profile-pic-canvas">
            <img id="profile-pic" class="card-img-top img-fluid" src="{{ url_for('static', filename='img/profile_pics/' + patient.patient_id|string + '.jpg') }}">
          </div>
          <div class="card-block">
            <h4 id="patient-name" class="card-title text-center">{{ patient.first_name }} {{ patient.last_name }}</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="col-sm-6 text-left left-panel-list">ID</div>
                <div class="col-sm-6 text-right left-panel-list">{{ patient.patient_id }}</div>
              </li>
              <li class="list-group-item">
                <div class="col-sm-6 text-left left-panel-list">Sex</div>
                <div class="col-sm-6 text-right left-panel-list">{{ patient.sex }}</div>
              </li>
              <li class="list-group-item">
                <div class="col-sm-6 text-left left-panel-list">DoB</div>
                <div class="col-sm-6 text-right left-panel-list">{{ patient.date_of_birth }}</div>
              </li>
              <li class="list-group-item">
                <div class="col-sm-6 text-left left-panel-list">Phone</div>
                <div class="col-sm-6 text-right left-panel-list">{{ patient.phone_number }}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="right-panel" class="col-sm-9">
        <div id="secondary-row-top" class="row">
          <div id="sched-panel" class="col-sm-4 card card-outline-primary px-0">
            <h4 class="card-header">Scheduling</h4>
            <div class="card-block">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="col-sm-6 text-left left-panel-list">Last Visit</div>
                  <div class="col-sm-6 text-right left-panel-list">{{ last_visit }}</div>
                </li>
                <li class="list-group-item">
                  <div class="col-sm-6 text-left left-panel-list">Appointment</div>
                  <div class="col-sm-6 text-right left-panel-list">{{ appointment }}</div>
                </li>
              </ul>
              <button id="sched-button" class="btn btn-outline-primary" role="button">Schedule Visit</button>
            </div>
          </div>
          <div id="notes-panel" class="col-sm-8 card card-outline-primary px-0">
            <h4 class="card-header">Notes</h4>
            <div class="card-block">
              <p class="card-text">{{ patient.notes }}</p>
            </div>
          </div>
        </div>
        <div id="secondary-row-bot" class="row">
          <div id="graph-panel" class="card card-outline-primary">
            <!-- Note: might use nvd3.js for scatter plot instead -->
            <canvas id="viral-load-plot"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/lib/jquery-3.1.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/tether.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ url_for('static', filename='js/lib/ie10-viewport-bug-workaround.js') }}"></script>
  <!-- ChartJS Javascript -->
  <script src="{{ url_for('static', filename='js/lib/Chart.min.js') }}"></script>
  <!-- ChartJS Graph Code -->
  <script src="{{ url_for('static', filename='js/profile_graph.js') }}"></script>
  <!-- Add Samples Code -->
  <script>
    var sample = {
      "patient_id": "{{ patient.patient_id }}",
      "patient_lname": "{{ patient.last_name }}"
    };
  </script>
  <script src="{{ url_for('static', filename='js/sessions.js') }}"></script>
</body>

</html>
