<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <title>OVL | Patient Form</title>
  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Font-Awesome-Icons -->
  <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
  <!-- Custom Styles -->
  <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/patientform.css') }}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-light navbar-toggleable-sm">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="btn btn-primary" href="/" role="button">Back</a>
        </li>
      </ul>
    </nav>
    <div class="card card-outline-primary card-block">
      <div class="div-header">
        <h2 id="form-title">Patient Information</h2>
      </div>
      <form action="/patient_form" method="POST" , enctype="multipart/form-data">
        <div class="form-group">
          <label for="first-name-input">First Name<font color='red'>*</font></label>
          <input class="form-control" type="text" id="first-name-input" name="first_name" required>
        </div>
        <div class="form-group">
          <label for="last-name-input">Last Name<font color='red'>*</font></label>
          <input class="form-control" type="text" id="last-name-input" name="last_name" required>
        </div>
        <div class="form-group">
          <label for="gender-input1 gender-input2">Sex<font color='red'>*</font></label><br />
          <div class="form-check form-check-inline">
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sex"
                  id="gender-input1" value="male" required> Male
              </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sex"
                  id="gender-input2" value="female" required> Female
              </label>
          </div>
        </div>
        <div class="form-group">
          <label for="dob-input">Date of Birth<font color='red'>*</font></label>
          <input class="form-control" type="date" id="dob-input" name="date_of_birth" required>
        </div>
        <div class="form-group">
          <label for="phone-number-input">Phone Number</label>
          <!-- pattern="^\d{3}-\d{3}-\d{4}$" -->
          <input class="form-control" type="tel" maxlength="12" id="phone-number-input" name="phone_number">
        </div>
        <div class="form-group">
          <label for="file-input">Photo</label>
          <input type="file" class="form-control-file" id="file-input" name="photo">
        </div>
        <div class="form-group">
          <label for="comments-input">Comments</label>
          <small id="comments-help" class="form-text text-muted">Any important info to note such as medications and medical conditions.</small>
          <textarea class="form-control" id="comments-input" rows="3" name="extra_comments"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mx-auto" role="button" value="submit">Submit</button>
      </form>
    </div>
  </div>

  <!-- Insert this line above script imports for electron -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/tether.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ url_for('static', filename='js/lib/ie10-viewport-bug-workaround.js') }}"></script>

  <!-- Insert this line after script imports for electron -->
  <script>
    if (window.module) module = window.module;
  </script>
</body>

</html>
