#start-test-button {
    padding: 8px 30px;
    margin-left: 3px;
}

#btn-panel-left {
    padding-left: 0px;
}

#btn-panel-right {
    padding-right: 0px;
}

#primary-row {
    height: 720px;
}

#secondary-row-top {
    height: 40%;
}

#secondary-row-bot {
    height: 60%;
}

#left-panel, #left-panel>div, #right-panel {
    height: 720px;
    padding-left: 0px;
    padding-right: 0px;
}

#profile-pic-canvas {
    height: 40%;
}

#profile-pic {
    height: 100%;
}

#patient-name {
    margin-bottom: 20px;
}

.list-group-item, .left-panel-list {
    padding-left: 0px;
    padding-right: 0px;
}

#sched-panel, #notes-panel {
    height: 100%;
}

#notes-panel> div.card-block {
    overflow-y: auto;
}

#sched-panel> div> ul> li:nth-child(1) {
    padding-top: 0px;
}

#sched-button {
    margin-top: 20px;
}

#graph-panel {
    height: 100%;
    width: 100%;
}

#viral-load-plot {
    height: 100%;
}
